cus/crccre/webservice.wsdl

<?xml version="1.0" ?>
<definitions name="WeixinService" targetNamespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <portType name="soapPort"><operation name="Hello">
            <input message="tns:HelloRequest" />
            <output message="tns:HelloResponse" />
        </operation>
        <operation name="Add">
            <input message="tns:AddRequest" />
            <output message="tns:AddResponse" />
        </operation>
        <operation name="SendDbshx">
            <input message="tns:SendDbshxRequest" />
            <output message="tns:SendDbshxResponse" />
        </operation>
    </portType>
    <binding name="soapBinding" type="tns:soapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="Hello">
            <soap:operation soapAction="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService/Hello" />
            <input><soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="Add">
            <soap:operation soapAction="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService/Add" />
            <input><soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="SendDbshx">
            <soap:operation soapAction="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService/SendDbshx" />
            <input><soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.apusic.com/esb/AESB_CRCCRE/WeixinService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="WeixinService">
        <documentation />
        <port name="soapPort" binding="tns:soapBinding"><soap:address location="http://10.22.250.26/cus/crccre/webservice.php" />
        </port>
    </service>
    <message name="HelloRequest">
    </message>
    <message name="HelloResponse">
        <part name="Hello" type="xsd:string" />
    </message>
    <message name="AddRequest">
        <part name="a" type="xsd:string" />
        <part name="b" type="xsd:string" />
    </message>
    <message name="AddResponse">
        <part name="Add" type="xsd:string" />
    </message>
    <message name="SendDbshxRequest">
        <part name="userid" type="xsd:string" />
        <part name="text" type="xsd:string" />
        <part name="url" type="xsd:string" />
    </message>
    <message name="SendDbshxResponse">
        <part name="SendDbshx" type="xsd:string" />
    </message>
</definitions>
